@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');

stat-box, info-box {
    --primary-color: red;
    --body-font: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #ecf0f5;
}
